body{
    background-color: #1ABC9C;
}
h1{
    font-size: 2.5em;
}

.image{
    width: 100%;
    height: 550px;
}
.zoom img:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
  }

.list{
    background-color: white;
    list-style-type:none;
}

.text{
    font-size: 25px;
    text-decoration: underline;
    font-style: italic;
}

.color{
    background-color: #76D7C4;
}

.input-field {
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    border-radius: 5rem;
    padding: 1.5rem 1rem;
}

.img {
    width: 280px;
}

.view-more{
    border: 1px solid black;
    border-radius: 1rem;
    width: 50%;
    background-color: white;

}
.list2{
    background-color: white;
    margin: 1px;

    
}
.image2{
   height: 250px; 
}

.image3{
    width: 100%;
    height: 100%; 
 }
 .cat{
     border: 3px solid black;
 }
   
 